@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body {
  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
  font-family: 'Noto Sans TC', sans-serif;
}

.SaveHouse {
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 3px 3px 10px 3px rgba(256, 256, 256, 0.5);
}

.profile {
  transform: translate(all); /*???*/
}

.profile:hover {
}

.profile img{
  position: absolute;
  border-radius: 50%;
  height: 10%;
  width: height;
  top: 3%;
  right: 3%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.profile img:hover{
  background: #e0e0e0;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.Rack {
  background: linear-gradient(170deg, rgba(255, 255, 255,1) 0%, rgba(255, 255, 255,1) 20%, rgba(255, 255, 255,0.8) 20.1%, rgba(255, 255, 255,0.8) 40%, rgba(255, 255, 255,0.6) 40.1%, rgba(255, 255, 255,0.6) 60%, rgba(255, 255, 255,0.4) 60.1%, rgba(255, 255, 255,0.4) 80%, rgba(255, 255, 255,0.2) 80.1%, rgba(255, 255, 255,0.2) 100%);
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  padding: 20px;
  margin: 5% 10% 10vh;
  border-radius: 10px;
}

.Rack a, .Rack a:link, .Rack a:visited {
  text-decoration: none;
  color: inherit;
}

.card {
  border-radius: 10px;
  background-color: rgb(128, 181, 231);
  box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}

.card div {
  margin: 5%;
}

.widget {
  background-color: rgba(0, 0, 0, 0.27);

}

.widget .seperator {
  background-color: rgb(0, 0, 0);
  padding: 1%;
}

.item {
  background-color: rgba(256, 256, 256, 0.5);
}

.item .seperator {
  background-color: rgb(237, 31, 46);
  padding: 1%;
}

.collection {
  background-color: rgba(256, 256, 256, 0.5);
}

.collection .seperator {
  background-color: rgb(31, 99, 237);
  padding: 1%;
}
