body {
  background-color: #e6f3f7;
  background-image:  linear-gradient(#a6bcca 2px, transparent 2px), linear-gradient(to right, #a6bcca 2px, #e6f3f7 2px);
  background-size: 40px 40px;
}

.SaveHouse {
  text-align: center;
}

.Rack {
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  height: 80vh;
  margin: 5% 10% 10vh;
}

.Rack .card {
  background-color: rgb(128, 181, 231);
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
}
