/*TODO: self host font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body {
  /*May be #1f303c instead of #16222A?*/
  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
  font-family: 'Noto Sans TC', sans-serif;
}

a, a:visited {
  color: rgb(137, 196, 254);
  text-decoration: underline;
}

.SaveHouse {
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 3px 3px 10px 3px rgba(256, 256, 256, 0.5);
}

.collection-description {
  text-align: center;
  color: white;
  font-size: 16px;
  text-shadow: 3px 3px 10px 3px rgba(256, 256, 256, 0.5);
  margin-left: 15%;
  margin-right: 15%;
}

.profile {
  display: flex;
  justify-content: right;
}

.profile img{
  position: absolute;
  border-radius: 50%;
  height: 10%;
  width: height;
  top: 20px;
  right: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all 0.5s ease;
}

.profile .dropdown{
  visibility: hidden;
  display: none;
  flex-flow: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  width: 200px;
  padding-bottom: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  /*TODO: menu animation: https://developers.google.com/web/updates/2017/03/performant-expand-and-collapse
   */
}

.profile img:hover, .profile img:focus-within
{
  background: #e0e0e0;
  border-radius: 10px;
}

.profile img:hover + .dropdown, .profile img:focus-within + .dropdown,
.profile img + .dropdown:hover, .profile img + .dropdown:focus{
  visibility: visible;
  display: flex;
}

.profile .dropdown .greetings{
  margin: 10%;
  padding-right: 50%;
}

.profile .dropdown a{
  padding: 3% 10% 3% 10%;
  text-decoration: none;
  color: inherit;
  text-shadow: rgba(256, 256, 256, 1);
  transition: all 0.4s ease;
}

.profile .dropdown a:hover{
  background: rgba(0, 0, 0, 0.2);
}

.show-dropdown {
  display: flex;
}

.Rack {
  background: linear-gradient(170deg, rgba(255, 255, 255,1) 0%, rgba(255, 255, 255,1) 20%, rgba(255, 255, 255,0.8) 20.1%, rgba(255, 255, 255,0.8) 40%, rgba(255, 255, 255,0.6) 40.1%, rgba(255, 255, 255,0.6) 60%, rgba(255, 255, 255,0.4) 60.1%, rgba(255, 255, 255,0.4) 80%, rgba(255, 255, 255,0.2) 80.1%, rgba(255, 255, 255,0.2) 100%);
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  padding: 20px;
  margin: 5% 10% 10vh;
  border-radius: 10px;
}

.Rack a, .Rack a:link, .Rack a:visited {
  text-decoration: none;
  color: inherit;
}

.card {
  border-radius: 10px;
  background-color: rgb(128, 181, 231);
  box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}

.card div {
  margin: 5%;
}

.widget {
  background-color: rgba(0, 0, 0, 0.35);

}

.widget .seperator {
  background-color: rgb(0, 0, 0);
  padding: 1%;
}

.item {
  background-color: rgba(256, 256, 256, 0.7);
}

.item .seperator {
  background-color: rgb(212, 83, 93);
  padding: 1%;
}

.collection {
  background-color: rgba(256, 256, 256, 0.7);
}

.collection .seperator {
  background-color: rgb(84, 121, 196);
  padding: 1%;
}
